<%- include ('Layout/header') %>
<body>
    <% if(applicant && applicant.interview_answers) { %> 
        <% for(var k = 0; k < applicant.interview_answers.length; k++) { %> 
            <h4><b>Question</b></h4>
            <p><%=applicant.interview_answers[k].question%></p>
            
            <h4><b>Answer</b></h4>
            <% if(applicant.interview_answers[k].type_of_question == "text") { %>
                <p>Answer: <%=applicant.interview_answers[k].answer%></p>
            <% } %>

            <% if(applicant.interview_answers[k].type_of_question == "canvas") { %>
                <p>Drawing Answer</p>
                <p><img src="<%=applicant.interview_answers[k].answer%>"/></p>
            <% } %>
            
            <% if(applicant.interview_answers[k].type_of_question == "video") { %>
                <p>Video Answer</p>
                <p>
                    <video width="320" height="240" controls>
                        <source src="<%=applicant.interview_answers[k].answer%>" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </p>
            <% } %>            
            <hr>
        <% } %>
    <% } else { %> 
        <h3>Error: error getting interview details. Maybe it no longer exist.</h3>
    <% } %>
</body>
<%- include ('Layout/footer') %>