<%- include ('Layout/header') %>
<link rel="stylesheet" href="ckeditor/ckeditor.js" />
<body>
  <div class="container">
    <% for (var i = 0; i < jobs.length; i++) { %>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-4">
                <img src="./logo.png" class="center" width="70%" alt="Company Logo" />
              </div>
              <div class="col-sm-6">
                <h3><b>Job Level:</b></h3>
                <p><%= levelDescriptionObj[jobs[i].level]%></p>
                <h3><b>Field:</b></h3>
                <p><%= jobs[i].field %></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h3><b>Requirements</b></h3>
            <p><%- jobs[i].requirements %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h3><b>Discription and Responsibilities</b></h3>
            <p><%- jobs[i].functions %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h3><b>Job Start Date:</b></h3>
            <p><%= jobs[i].start_date%></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h3><b>Closing Date:</b></h3>
            <p><%= jobs[i].application_closing_date%></p>
          </div>
        </div>

        <% if(jobs[i].poster != userId ) { %>   
          <div class="row">
               <div class="col-sm-12">
                <button class="btn btn-md btn-primary btn-apply" id="<%=jobs[i]._id %>"><i class="fa fa-envelope-open-o" aria-hidden="true"></i> Apply</button>
              </div>
          </div>
      <% } %>

    <% if(jobs[i].poster == userId) { %>   
        <div class="row">
             <div class="col-sm-12">
              <button class="btn btn-md btn-primary job_details" id="<%=jobs[i]._id %>"> More <i class="fa fa-long-arrow-right"></i></button>
            </div>
        </div>
    <% } %>
    <hr />
  <% } %>


  </div> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>

    $(document).ready(function () {
      $(".btn-apply").click(function () {
        var jobId = $(this).attr('id')
        var poster =" <%=jobs.poster%>"
        console.log(jobId)
        console.log("Heyyy")
        console.log(poster)

        $.ajax({
          method: "POST",
          url: "/apply_for_job",
          data: { jobId: jobId, poster:poster},
          success: function (data) {
            // success callback function
            alert("Success, check logs");
            console.log(data)
          },
          error: function (data, status, xhr) {
            // error callback function
            alert("Error, check logs");
            console.log(data)
          },
        });
        
    });

    $(".job_details").click(function () {
      var jobId = $(this).attr('id')
      location.replace(`/job_details?jobId=${jobId}`);
      
    })
  });
  </script>

</script>

</body>
<%- include ('Layout/footer') %>
