<%- include ('Layout/header') %>

  <body>
    <br>
    <div class="container" style="margin: 0 auto; width:60%">
      <div class=" card">
        <div class="card-body">

          <a class="user_profile" href="/my_profile" style="color: #805b23 !important;">
            <h3><b>
                <%=user.name%>
              </b></h3>
          </a>

          <% if(user.typeOfUser=='jobseeker' && !user.motionresume) { %>
            <button class="btn btn-md motionresume_video" id="<%=user._id%>">motionresume <i class="fa fa-video-camera"
                aria-hidden="true"></i></button>
            <% } %>
              <% if(user.motionresume) { %>
                <p>
                  <video width="320" height="240" controls>
                    <source src="<%=user.motionresume%>" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </p>
                <% } %>
                  <div class="row">
                    <div class="col-sm-12">
                      <h4 style="color: #805b23 !important;"><b>Contact Details:</b></h4>
                      <p>Email address: <%=user.email%>
                      </p>
                      <p>Cellphone number: 0<%=user.phone%>
                      </p>
                    </div>
                  </div>


                  <% if(user.typeOfUser=='jobseeker' ) { %>
                    <div class="row">
                      <div class="col-sm-12">
                        <h4 style="color: #805b23 !important;"><b>Educational Details:</b></h4>
                        <p>University Attended: <%=user.universityName%>
                        </p>
                        <p>Qualification: <%=user.qualification%>
                        </p>
                        <p>Year Obtained: <%=user.yearObtained%>
                        </p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12">
                        <h4 style="color: #805b23 !important;"><b>Experience:</b></h4>
                        <p>Company worked for: <%=user.company%>
                        </p>
                        <p>Years Worked: <%=user.yearsWorked%>
                        </p>
                      </div>
                    </div>
                    <% } %>
                      <hr>
        </div>
      </div>
    </div>
    <script>
      $(".motionresume_video").click(function (e) {
        var userId = $(this).attr('id')

        window.location.href = `/take_video_motionresume?userId=${userId}`;
      })
    </script>
  </body>
  <%- include ('Layout/footer') %>