<%- include ('Layout/header') %>
<body>
  <div class="container">
    <div class="card">
      <div class="card-body">
       
        <h3><b><%=user.name%>'s profile</b></h3>
        <div class="row">
          <div class="col-sm-12">
            <h4><b>Contact Details:</b></h4>
            <p>Email address: <%=user.email%></p>
            <p>Cellphone number: 0<%=user.phone%></p>
          </div>
        </div>


        <% if(user.typeOfUser == 'jobseeker') { %>   
          <div class="row">
            <div class="col-sm-12">
              <h4><b>Educational Details:</b></h4>
              <p>University Attended: <%=user.universityName%></p>
              <p>Qualification: <%=user.qualification%></p>
              <p>Year Obtained: <%=user.yearObtained%></p>
            </div>
          </div>
  
          <div class="row">
            <div class="col-sm-12">
              <h4><b>Experience:</b></h4>
              <p>Company worked for: <%=user.company%></p>
              <p>Years Worked: <%=user.yearsWorked%></p>
            </div>
          </div>
        <% } %>
        <% if(user.typeOfUser == 'recruiter') { %>   
          <div class="row">
            <div class="col-sm-12">
              <h4><b>Company Details:</b></h4>
              <p>Company name: <%=user.companyName%></p>
              <p>Company URL: <%=user.companyUrl%></p>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</body>
<%- include ('Layout/footer') %>
